@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.nav {
  max-width: 366px;
  width: 100%;
}

.container {
  @include container();
  @include flexCenter();
}

.wrapper {
  @include flexCenter();
  width: 100%;
}

.inputWrapper {
  @include flexCenter();
  justify-content: space-between;
  margin: 0 10px;
  width: 80%;
}

.inputContainer {
  @include flexCenter();
}

.inputContainerActive {
  @include flexCenter();
  width: 100%;
  border-radius: 18px;
  border: 1px solid #cdcdcd;
  justify-content: flex-start;
}

.input {
  //   min-width: 234px;
  line-height: 20px;
  border: none;
  margin-left: 8px;
  background-color: white;
  &:focus {
    outline: none;
  }
}

.buttonSearch {
  @include button();
}

.counter {
  @include flexCenter();
  justify-content: space-between;
  margin: 1rem 0;
}

.usersCount {
  background-color: $text-btn-normal;
  color: white;
  border-radius: 10px;
  width: max-content;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  padding: 2px;
  width: 28px;
  text-align: center;
}

.addButton {
  background: none;
  border: none;
  color: $text-btn-normal;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  &:hover {
    opacity: 0.8;
  } 
}

.checkContainer {
  @include flexCenter();
  // justify-content: space-between;
  // margin: 1rem 0;
}

.usersCountCheck {
  background-color: $bg-color-hover;
  margin-left: .5rem;
}