@import "../../styles/variables";

.customCheckbox {
  margin-right: 0.5rem;
}

/* Скрываем стандартный чекбокс */
.customCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Создаем кастомный чекбокс */
.customCheckbox .checkmark {
  position: relative;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 2px solid #dcdcdc;
  border-radius: $border-radius;
  display: inline-block;
  vertical-align: middle;
}

/* Когда чекбокс активен, изменяем цвет фона и рамки */
.customCheckbox input:checked + .checkmark {
  background-color: #4198C5;
  border-color: #4198C5;
}

/* Добавляем анимацию для плавности */
.customCheckbox .checkmark {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 2px solid #dcdcdc;
  cursor: pointer;
}

/* Стилизация галочки */
.customCheckbox .checkmarkIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px; /* Увеличиваем размер галочки */
  height: 8px; /* Увеличиваем размер галочки */
}
