@import './assets/fonts/fonts.scss';
@import './styles/variables';

body {
  background-color: $bg-color-light;
  font-family: $font-sf;
  margin: 0;
  padding: 0;
}

// .app {
//   // background-color: #F1F2F3;
//   // width: 100vmax;
// }

.main {
  display: flex;
  margin: 30px 1rem;
  gap: 2rem;
  justify-content: center;
}

.section {
  max-width: 744px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
