@import "../../styles/variables";
@import "../../styles/mixins";

a {
  text-decoration: none;
  padding: 0 1rem;
  border-left: 1px solid $text-grey-cd;
  &:first-child {
    border-left: none;
  }
  &:hover {
    color: $bg-color-hover;
  }
}

.nav {
  @include flexCenter();
  justify-content: space-between;
  margin: 0.8rem 0;
}

.link {
  color: $text-btn-normal;
  transition: all 0.2s ease-in-out;
}

.linkActive {
  color: $bg-color-hover;
}

.linkPending {
  color: $bg-color-light;
}
