@import "../../styles/variables";

a {
    text-decoration: none;
    padding: 0 1rem;
    border-left: 1px solid $text-grey-cd;
    &:first-child {
        border-left: none;
    }
}

.nav {
    display: flex;

}

.link {
    color: $text-btn-normal;
}

.linkActive {
    color: $bg-color-hover;
}

.linkPending {
    color: $bg-color-light;
}